.map{
    display: grid;
    width: 100%;
    height: 100%;
}

.tile{
    width: 100px;
    height: 100px;
}

.path-tile{
    background-color: grey;
}

.grass-tile{
    background-color: greenyellow;
}